{% extends 'base.html.twig' %}

{% block title %}Test de developpement MarqueDigitale{% endblock %}

{% block body %}
    <header class="row justify-content-between align-items-center g-0">
        <div class="col-3 row align-items-center g-0">
            <img src="{{ asset('build/logo.png') }}" alt="logo" class="logo col-3" />
            <h1 class="col-9">Matthis Reyjon</h1>
        </div>

        <input type="search" placeholder="Rechercher un produit" class="search  col-7">
    </header>
    <div class="container mt-5">



        <div class="row justify-content-around mt-3 g-0">
            <div class="col-4">
                <select class="form-select">
                    <option value="option1">option1</option>
                    <option value="option2">option2</option>
                    <option value="option3">option3</option>
                    <option value="option4">option4</option>
                    <option value="option5">option5</option>
                </select>
            </div>
            <div class="col-4">
                <select class="form-select">
                    <option value="option1">option1</option>
                    <option value="option2">option2</option>
                    <option value="option3">option3</option>
                    <option value="option4">option4</option>
                    <option value="option5">option5</option>
                </select>
            </div>
        </div>

        <table class="table table-striped table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Marque</th>
                <th scope="col">Prix public</th>
                <th scope="col">Reference fabricant</th>
                <th scope="col">Type</th>
                <th scope="col">Nom du metier</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
